*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: bolder;
  
}



.con{
  height: 100vh;
  width: 100%;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  width: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
  
}


.btn{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}

button{
  padding: 12px;
  background-color: crimson;
  font-family: 'Karla', sans-serif;
}
.in{
  background-color: cyan;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
